---
layout: page
title: About TechSquids
date: 2014-09-23 09:41:05.000000000 -07:00
type: page
parent_id: '0'
published: true
password: ''
status: publish
categories: []
tags: []
meta:å
  _wp_page_template: default
  _edit_last: '1'
  _layout: inherit
  interface_sidebarlayout: no-sidebar-full-width
  _yoast_wpseo_focuskw: techsquids
  _yoast_wpseo_title: About us - TechSquids
  _yoast_wpseo_metadesc: Know about TechSquids, Rahul Sharma BigData developer, Nikhil
    Gupta , Chandrakant Singh Senior Performance Test Analyst
  _yoast_wpseo_linkdex: '49'
  dsq_thread_id: '3064272952'
  _yoast_wpseo_focuskw_text_input: techsquids
  _yoast_wpseo_content_score: '30'
author:
  login: ts_ad167web
  email: rahul86s@gmail.com
  display_name: rahul
  first_name: Rahul
  last_name: Sharma
permalink: "/aboutus/"
---
<div>

  <table style="border-collapse: collapse;">
    <tbody>
    <tr>
    <td><strong>Rahul Sharma</strong> (Squid no.1) is Bigdata enthusiast, having strong desire to learn open source technologies. He has been working for Impetus tech as BIGDATA &amp; JAVA developer.<a href="http://in.linkedin.com/in/rahulshrm"><br />
    <img src="{{ site.baseurl }}/assets/images/btn_profile_bluetxt_80x15.png" alt="View Rahul Sharma's profile on LinkedIn" width="80" height="15" border="0" /><br />
    </a><br />
    <strong>Nikhil Gupta</strong> (Squid no.2) is a Senior Build and Release consultant and is a great admirer of technology.<a href="http://in.linkedin.com/in/coolnicks/"><br />
    <img src="{{ site.baseurl }}/assets/images/btn_profile_bluetxt_80x15.png" alt="View Rahul Sharma's profile on LinkedIn" width="80" height="15" border="0" /><br />
    </a><br />
    <strong>Chandrakant Singh</strong> (Squid no.3) is a Senior Performance Test Analyst plus a Daydreamer, who gets all sort of these crazy business ideas in his head.<a href="http://in.linkedin.com/in/singhchandrakant"><br />
    <img src="{{ site.baseurl }}/assets/images/btn_profile_bluetxt_80x15.png" alt="View Rahul Sharma's profile on LinkedIn" width="80" height="15" border="0" /><br />
    </a>Few Squids, met in the sea of Software engineers, Bangalore, India. Having same passion towards Technology, they planned to start an organized platform for knowledge sharing among other squids and named it as TechSquids.com. TechSquids provides a quality information regarding Big data, Build &amp; Release tools and methodologies, Performance Testing &amp; Engineering, UNIX, Java and many more technologies.The GOAL here is to create a small technology encyclopedia, which can be referred by anyone anytime across the world.Reach out to us anytime without hesitations and we could be of great help for you.</p>
    <p>If you are not willing to learn, no one can help you. If you are determined to learn, no one can stop you</p>
    <p>Enjoy Learning!!!</td>
  
    </tr>
    </tbody>
    </table>
</div>


        
      </div>
    </div>
  </article>
</main>


    <footer id="footer" class="site-footer">
  <!-- start custom footer snippets -->

<!-- end custom footer snippets -->
<div class="social-icons"><!--<a class="social-icon" href="/atom.xml"><i class="fas fa-rss-square fa-2x" title="Feed"></i></a>--></div><div class="copyright">
    
      <p>&copy; 2020 Techsquids</p>
    
  </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/assets/js/main.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.12/js/all.js"></script>


  </body>

</html>
